.header_blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  background-color: #833988;
  padding: 5vh;
}
.title_header_blog {
  font-size: 60px;
  font-weight: 700;
  line-height: 100px;
  color: #fff;
  text-align: center;
}
.paragraph_cont {
  width: 60%;
}
.paragraph_header_blog {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
}
/* End header *************************/

  /* blog details *************************/
  .card_cont_blog{
    background-color: #EAEAEA;
    border: none;
    border-radius: 15px;
  }
.title_blog{
    font-size: 40px;
    font-weight: 700;
    /* line-height: 74px; */
}
.search_blog{
    width: 100%;
  height: 45px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  text-indent: 32px;
  border-radius: 85px;
}
  .search_btn_blog{
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 17px;
   /* padding-left: 15px; */
   padding-right: 15px;
    padding-bottom: 30px;
    height: 35px;
    width: 80px;
  }
  .cont_info_blog{
    display: flex;
    justify-content: space-between;
  }
  .img_blog{
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
  .teacher_name_blog{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #833988;
  }
  .blog_title{
    font-size: 20px;
    font-weight: 600;
    line-height: 37px;
  }
  .desc_blog{
    font-size: 18px;
    font-weight: 400;
    padding: 0 2vh 2vh 2vh;
  }
  .blog_dep{
    color: #aaa;
    font-size: 16px;
  }
  /* End blog details *************************/
  /* catigories************* */
  .col_blog{
    margin-left: 10vh;
}
  .categories_title{
font-size: 28px;
font-weight: 600;
line-height: 32px;
  }
  .categ_lastblog_cont{
    display: flex;
    margin: 2vh;
  }
  .img_last_blog{
    height: 90px;
    width: 90px;
    border-radius: 15px;
  }
  .desc_last_blog{
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    padding-right: 1vh;
  }
  .desc_last_blog:hover{
    color: #F57D20;
    transition: color 0.3s ease-in-out;
  }
    /* End catigories************* */

.tags_btn_cont{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .title_header_blog {
    font-size: 35px;
  }
  .paragraph_cont {
    width: 100%;
  }
  .paragraph_header_blog {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
    .title_header_blog {
      font-size: 45px;
    }
    .paragraph_cont {
      width: 100%;
    }
    .paragraph_header_blog {
      font-size: 25px;
    }
  }